body{
  background-color: black;
  font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style:normal;
  color: black;
}

p{
  font-size: 0.8rem;
}

i{
  font-size: 1.7em;
}

.post-container{
  width: 400px;
  background-color: aliceblue;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-body, .post-header{
  padding: 10px;
}

.post-header{
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-menu{
  margin-left: auto;
}

.post-image{
  width: 100%;
}

.post-image > img{
  width: 100%;
}

.post-icons{
  display: flex;
  gap: 10px;
}

.bookmark{
  margin-left: auto;
}